---
pagination:
  enabled: true
---
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- <SCRIPT language=javascript>
msg = "hehehehehehehehehehehehehehehehehe";

msg = "" + msg;pos = 0;
function scrollMSG() {
document.title = msg.substring(pos, msg.length) + msg.substring(0, pos);
pos++;
if (pos >  msg.length) pos = 0
window.setTimeout("scrollMSG()",20);
}
scrollMSG();
    </SCRIPT> -->

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h6> {{ site.title | default: site.github.repository_name }}</h6>
        <h4><p>{{ site.description | default: site.github.project_tagline }}</p></h4>
          
        <p><a href="https://www.linkedin.com/in/bykovkirill/">LinkedIn</a></p>
        <p><a href="https://scholar.google.com/citations?user=tI39EK8AAAAJ&hl=en">Google Scholar</a></p>
        <p><a href="https://www.prometheanirreverence.com">Substack</a></p>
        <p><a href="{{ site.github.owner_url }}">GitHub Profile</a></p>
        <p><a> KBykov@atb-potsdam.de</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages
<br>
	Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
</small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
